*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
body{
   /* background-image: linear-gradient(rgba(230, 22, 74, 0.9),rgba(12, 14, 12, 0.9)), url(1.jpg); */
   background-image: linear-gradient(rgb(11, 11, 68), rgb(122, 56, 56));
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* NAVIGATION SESSION starts here */
nav{
    width: 100%;
    
}

nav ul{
    /* margin-left: 15px; */
    display: flex;
    float: right;
}

nav ul li{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin: 10px; */
}

nav ul li a{
    text-decoration: none;
    list-style: none;
    color: pink;
    padding: 20px;
    text-align: center;
}

nav ul li a:hover{
    background-color: rgb(224, 224, 21);
    color: crimson;
    font-weight: bold;
}
/* NAVIGATION SESSION ends here */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */






/* HOME GIPEX Training Consult Text starts here */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
#middleBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#middleBox h1{
 color: pink;
 font-weight:bold;
 font-size: 5.5rem;
 line-height: 50px;
}

span{
    color: yellow;
}
#middleBox h3{
    color: pink;
    font-weight:bold;
    font-size: 2rem;
    line-height: 50px;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
   }

 #middleBox p{
    color: yellow;
    font-size: 1rem;
    margin-bottom: 25px;
   }

button{
    border: none;
    outline: none;
    width: 50%;
    height: 50px;
    background-color: yellow;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}


header h1{
    float: left;
    padding: 8px 18px 30px 120px;
    color: pink;
    text-align: center;
}

/* HOME GIPEX Training Consult Text ENDS here */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */






/* ABOUT US starts here */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */


#aboutmiddleBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#aboutmiddleBoxFlex{
    display: flex;
}
#aboutmiddleBoxFlex .aboutBox1{
  width: 200px;
  height: 120px;
   background-color: whitesmoke;
}

#aboutmiddleBoxFlex .aboutBox2{
    width: 800px;
    height: 120px;
    background-color: green;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 20px;
 }

 #aboutmiddleBoxFlex .aboutBox3{
    width: 200px;
    height: 120px;
     background-color: whitesmoke;
     
  }
  
  #aboutmiddleBoxFlex .aboutBox4{
    width: 800px;
    height: 120px;
    background-color: green;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 30px;
   }
/* ABOUT US ends here */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */






















/*PHONE DEVICES SET TO 600*/
@media screen and (max-width: 600px){
   body{
    background-image: linear-gradient(rgba(0, 3, 1, 0.9),rgba(12, 14, 12, 0.9)), url(1.jpg);
   } 
	#middleBox h1{
       color: orange;
       line-height: 60px;
       /* margin-bottom: 10px; */
       }
    
    #middleBox span{
        color: whitesmoke;
        line-height: 35px;
        font-weight: bold;
        /* margin-bottom: 40px; */
    } 
} 

@media screen and (max-width:571px){  /*max-width:571 means from one to 571*/
    nav ul{
        /* margin-left: 15px; */
        display: flex;
        text-align: center;
    }

    nav ul li{
        list-style: none;
        margin-top: 20px;
        margin-bottom: 20px;
        /* margin: 10px; */
    }
    
    nav ul li a{
        text-decoration: none;
        list-style: none;
        color: pink;
        padding: 20px;
        text-align: center;
    }
    
    nav ul li a:hover{
        background-color: rgb(224, 224, 21);
        color: crimson;
        font-weight: bold;
    }
}